Source: gxde-launcher
Section: x11
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Build-Depends:
 debhelper (>= 8.0.0),
 pkg-config,
 cmake,
 qtbase5-dev,
 libxcb-ewmh-dev,
 libqt5x11extras5-dev,
 libqt5svg5-dev,
 libgsettings-qt-dev,
 qttools5-dev-tools,
 libdtkcore-dev,
 libdtkwidget2-dev,
 libgxframeworkdbus-dev,
 qtbase5-private-dev,
 qttools5-dev-tools
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/

Package: gxde-launcher
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 lastore-daemon,
 gxde-desktop-schemas (>= 3.1.11),
 gxde-app-uninstaller
Conflicts: dde-workspace (<< 2.90.5), dde-launcher (>> 5.0.29-2)
Provides: dde-launcher
Replaces: dde-launcher
Description: GXDE desktop-environment - launcher module
